* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    position: relative;
    background-color: rgb(243, 243, 243);
} 

header {
    width: 100%;
    padding: 10px 0;
}

h1 {
    width: 100%;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card{
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
}

.avatar {
    margin: auto 0 auto auto;
    width: 80px;
    border-radius: 50%;
}

.text-container {
    margin: auto auto auto 10px;
}

.name {
    padding-bottom: 5px;
    font-size: .9rem;
}

.email,
.address {
    font-size: .75rem;
}

.email {
    padding-bottom: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal { 
    width: 375px;
    margin: 15% auto auto; 
    position: relative; 
    text-align: center; 
    background: #fff; 
    border: 1px solid #778; 
    border-radius: 5px; 
    padding: 30px 20px;
}

.modal-close { 
    position: absolute; 
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden { 
    display: none;
}

@media only screen and (min-width: 768px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: auto 50px 20px;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        text-align: left;
        margin-left: 50px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        margin: auto 20px 20px;
    }
}