* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw
}

body{
    font-family:'Nunito', sans-serif;
    font-size: 1em;
    font-weight: 400;
    position: relative;
    background-color: rgb(243, 243, 243);
} 

header {
    width: 100%;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
}

h1 {
    font-size: 1em;
    text-align: left;
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 500;
}

#filter {
    width: 350px;
    margin-right: 100px;
    padding-left: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto 5% 20px;
    grid-template-rows: auto;
    grid-gap: 30px;
}

.card{
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
}

.avatar {
    margin: auto;
    width: 80px;
    border-radius: 50%;
}

.text-container {
    margin: auto;
}

h2 {
    font-size: .9rem;
    font-weight: 700;
    padding-top: 10px;
}

p {
    font-size: .75rem;
    color: gray;
}

h2,
p {
    padding-bottom: 10px;
}

.phone {
    padding-top: 10px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal { 
    width: 375px;
    margin: 10% auto auto; 
    position: relative; 
    text-align: center; 
    background: #fff; 
    border: 1px solid #778; 
    border-radius: 5px; 
    padding: 30px 20px;
}

.modal-content {
    margin: auto; 
    position: relative; 
    text-align: center; 
}

.modal-close { 
    position: absolute; 
    right: 25px;
    top: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.modal-forward {
    position: absolute;
    right: 10px;
    top: 150px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

.modal-backward {
    position: absolute;
    left: 10px;
    top: 150px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

hr {
    height: 1px;
    color: lightgray;
    background-color: lightgray;
    margin: 20px 0 20px;
}

.hidden { 
    display: none;
}